@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--background));
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted));
    border-radius: 5px;
    border: 2px solid hsl(var(--background));
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground));
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted)) hsl(var(--background));
  }
}

.react-flow__attribution {
  display: none;
}

.react-flow__controls-button {
  border: none;
  border-radius: 5px;
  background: #3c3c3c;
  border-bottom: 1px solid #2c2c2c;
  margin-bottom: 5px;
}

.react-flow__controls-button svg {
  fill: #fff;
}

.react-flow__controls-button:hover {
  border: none;
  border-radius: 5px;
  background: #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

.react-markdown pre {
  position: relative;
}

.react-markdown .group {
  position: relative;
}

.react-markdown .group button {
  pointer-events: auto !important;
}
